html { height: 100%; }
body { min-height: 100%; }
.container {
    display: grid;
    grid-template-columns: repeat(6, 200px);
    grid-template-rows: repeat(3, 200px);
    column-gap: 2em;
    row-gap: 1em;
    margin-top: 60px;

    justify-items: center;
  }
  .card {
    width: 100%;
    height: 100%;
    aspect-ratio: 2/3;
    display: block;
    position: relative;
    border-radius: 1rem;
    background-color: tan;
  }
  .class{
  color: #FFFFFF;
  font-size: 25px;
  position: absolute;
   top: 50%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%)
  }
