body{
background-image: url(/static/img/html/main_page_fon.png);
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
h1 {text-align: center;
    font-family: "FontName2";
	font-size: 70px;
	color: #fee5ac
    }
.a {font-size: 35px;
    font-family: 'FontName2';
    color: #fee5ac
    }
.b {font-size: 35px;
    font-family: 'FontName2';
    color: #fee5ac
    }
.c {font-size: 35px;
    font-family: 'FontName2';
    color: #fee5ac
    }
.d {font-size: 35px;
    font-family: 'FontName2';
    color: #fee5ac}
@font-face {
	font-family: 'FontName1';
	src: url(/static/fonts/ambidexter_regular.otf)}
@font-face {
	font-family: 'FontName2';
	src: url(/static/fonts/ofont.ru_Calypso.ttf)}
body {
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-bottom: 100px; //height of the footer
  box-sizing: border-box;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
a {
  box-sizing: border-box;
  font-family: 'Roboto';
  list-style: none;
  margin: 0;
  outline: none;
  padding: 0;
  text-align: center;
}
