body{
background-image: url(/static/img/html/main_page_fon.png);
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
body {
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-bottom: 100px; //height of the footer
  box-sizing: border-box;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

a {
  box-sizing: border-box;
  font-family: 'Roboto';
  list-style: none;
  margin: 0;
  outline: none;
  padding: 0;
}
