h1 {text-align: center;
    font-family: 'FontName bold';
	 font-size: 60px;
	 color: #7FFFD4
     }
@font-face {
	font-family: 'FontName bold';
	src: url(/static/fonts/ofont.ru_Honday.ttf);
}
p{
font-family: 'FontName bold';
font-size: 40px;
margin: 0;
padding: 0 0 10px 0;
}
.courses{color: white;
font-family: 'FontName bold';}

.courses:hover {color: white
}