@font-face {
	font-family: 'FontName';
	src: url(/static/fonts/ofont.ru_Honday.ttf)}
.round {
    border-radius: 100px; /* Радиус скругления */
    border: 3px solid #039; /* Параметры рамки */
    float: left
   }
.nickname {color: #039;
          font-family: 'FontName';
          font-size: 70px;
          text-align: center;
          margin-top: 5px}
h2{color: #191970;
   font-family: 'FontName';
   font-size: 60px;
   text-align: left;
   margin-top: 5px
   }
.buttons {float: center;
          margin-top: 70px;
          font-family: 'FontName';
          font-size: 40px
          }