{% extends 'base.html' %}
{% block title%}my{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/day.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<table class="container">
	    <thead>
	    	<tr>
			    <th><h1>Время</h1></th>
		    	<th><h1>{{ who }}</h1></th>
		    	<th><h1>Урок</h1></th>
		    </tr>
	    </thead>
        {% for i in range(0, len_sp - 1, 3) %}
        <tr>
            <th><a href="{{ sp_all[i][1] }}" style="color: #F0E68C">{{ sp_all[i] }}</a></th>
            <th><a href="{{ sp_all[i + 1][1] }}" style="color: #F0E68C">{{ sp_all[i + 1] }}</a></th>
            <th><a href="{{ sp_all[i + 2][1] }}" style="color: #F0E68C">{{ sp_all[i + 2] }}</a></th>
        </tr>
        {% endfor %}
    </table>
{% endblock %}