{% extends 'base.html' %}
{% block title%}home{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/home.css">
<div class="container">
  <div class="calendar" style="height: {{height}}px">
    <div class="front">
      <div class="current-date">
        <h1>{{week_day}} {{number}}</h1>
        <h1>{{month}} {{year}}</h1>
      </div>
      <div class="current-month">
        <ul class="week-days">
          <li>ПОН</li>
          <li>ВТО</li>
          <li>СРЕ</li>
          <li>ЧЕТ</li>
          <li>ПЯТ</li>
          <li>СУБ</li>
          <li>ВОС</li>
        </ul>
        <div class="weeks">
          <div>
            {% for i in sp_before %}
              <span class="last-month">{{i}}</span>
            {% endfor %}
            {% for i in sp_now[0] %}
              <span><a href="/day/{{i}}/{{current_user.id}}">0{{i}}</a></span>
            {% endfor %}
          </div>
         {% for l in sp_now[1:-1]%}
          <div>
          {%for i in l%}
          {%if i < 10 %}
              <span><a href="/day/{{i}}/{{current_user.id}}">0{{i}}</a></span>
          {%endif%}
          {%if i >= 10 %}
              <span><a href="/day/{{i}}/{{current_user.id}}">{{i}}</a></span>
          {%endif%}
          {% endfor %}
            </div>
          {% endfor %}
           <div>
               {%for i in sp_now[-1] %}
               <span><a href="/day/{{i}}/{{current_user.id}}">{{i}}</a></span>
               {% endfor %}
               {%for i in sp_after %}
               <span class="last-month">0{{i}}</span>
               {% endfor %}
           </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}