{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/page_of_tutor.css">
{% if current_user %}
    <h1 class="nickname">{{ tutor.surname }} {{ tutor.name }}</h1>
    <div class="rating-result">
        {% for i in range(1, 6) %}
        {% if stars >= i %}
        <span class="active"></span>
        {% else %}
	    <span></span>
        {% endif %}
        {% endfor %}
    </div>
    <h2>id: {{tutor.id_user}}</h2>
    <p>Немного о себе: {{ tutor.about }}</p>
     <form method="post" action="{{ url_for('send_marks_for_tutor', tutor_id = tutor.id_user)}}">
         <div style="font-size: 20px; font-weight: bold; margin-top: 20px; margin-bottom: 20px; color: DarkBlue">
             <input class="mark" type="radio" id="one" name="mark" value="1"/>
             <label for="one">1</label>
             <input class="mark" type="radio" id="two" name="mark" value="2"/>
             <label for="two">2</label>
             <input class="mark" type="radio" id="three" name="mark" value="3"/>
             <label for="three">3</label>
             <input class="mark" type="radio" id="four" name="mark" value="4"/>
             <label for="four">4</label>
             <input class="mark" type="radio" id="five" name="mark" value="5"/>
             <label for="five">5</label>
             <div>
                 <button type="submit">Оставить оценку</button>
             </div>
         </div>
     </form>
     <form method="post" action="{{ url_for('send_reviews_for_tutor', tutor_id = tutor.id_user)}}">
         <label class="comment" for="msg">Отзыв:</label>
         <textarea id="msg" name="user_message"></textarea>
         <div>
             <button type="submit" style="padding-bottom: 5px">Оставить отзыв</button>
         </div>
     </form>
{% for key, val in sl_reviews.items() %}
<div class="col-md6 border rounded">
    <h2>{{key}}</h2>
    <div class="already_comment">
        {{val}}
    </div>
</div>
{% endfor %}

{% endif %}
{% endblock %}