{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/user_page.css">
{% if current_user %}
    <h1 class="nickname">{{ current_user.surname }} {{ current_user.name }}</h1>
    <img src="/static/img/avatars/{{ current_user.avatar }}" height="200" width="200" class="round" vspace="10" hspace="20%">
    <h2>id: {{current_user.id}}</h2>
    <div class="buttons">
        {% if current_user.status == 'student' %}
        <a type="button" class="btn btn-info btn-lg" href="/my_tutors/{{ current_user.id }}" style="margin: 5px">Мои репетиторы</a>
        <a type="button" class="btn btn-success btn-lg" href="/my_parents/{{ current_user.id }}" style="margin: 5px">Мои родители</a>
        {% endif %}
        {% if current_user.status == 'tutor' %}
        <a type="button" class="btn btn-success btn-lg" href="/my_students/{{ current_user.id }}" style="margin: 5px">Мои ученики</a>
        <a type="button" class="btn btn-info btn-lg" href="/my_courses/{{ current_user.id }}" style="margin: 5px">Мои курсы</a>
        {% endif %}
        {% if current_user.status == 'parent' %}
        <a type="button" class="btn btn-info btn-lg" href="/my_children/{{ current_user.id }}" style="margin: 5px">Мои дети</a>
        {% endif %}
        <a type="button" class="btn btn-danger btn-lg" href="/logout" style="margin: 5px">Выйти из аккаунта</a>
	</div>
{% endif %}
{% endblock %}