{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/watch_homework_for_student.css">
<h1>Домашнее задание на {{ date }}</h1>
<div class="col-md6 border rounded">
<p>{{ text }}</p>
</div>
<form method="POST" action="{{ url_for('change_status_of_homework', homework_id = homework_id, date=date, lesson_id=lesson_id)}}">
{% if done %}
    <input type="checkbox" name="status" checked />
    <label>Домашнее задание выполнено</label>
{% else %}
    <input type="checkbox" name="status"/>
    <label>Домашнее задание не выполнено</label>
{% endif %}
    <div>
        <button type="submit">Изменить статус домашнего задания</button>
    </div>
</form>
{% if done %}
<p>Баллы за домашнее задание: {{ scores }}</p>
{% endif %}
{% endblock %}